* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-shrink: 0;
}
.cuerpototal {
    width: 100%;
    height: 100%;
    background-color: white;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    justify-content: center;
}
.cuerpoentero {
    display: flex;
    flex-direction: column;
    background-color: #E6E5E5;
    height: 100vh;
    width: 42rem;
    position: relative;   
    overflow: hidden;
}
.cabeza {
   background-color: #656A73;
   width: 100%;
   height: 3rem; 
   display: flex;
   align-items: center;
   gap: 1rem;
   position: relative;
}
.seccionarriba {
    background-color: #CCCBCA;
    width: 100%;
    height: 2rem;
    display: flex;
}
.seccionmedia {
    background-color: #E6E5E5;
    width: 100%;
    padding: 1.5rem 0;
}
.primeraseccion {
    background-color: #F2F2F2;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.seccionbaja {
     width: 100%;
     flex: 1;                
     min-height: 0;         
     display: flex;
     justify-content: space-between;
}
.articulo {
     width: 12.5rem;
     background-color: #F2F2F2;
     display: flex;
     align-items: center;
}
.pie {
    background-color: #636870;
    width: 100%;
    height: 5rem;
}
.rectangulonaranjahead {
    width: 11.8rem;
    height: 1.6rem;
    background-color: #FFB959;
    margin: 1rem;
}
.rectanguloblancohead {
    width: 7rem;
    height: 0.8rem;
    background-color: white;
}
.paraflets {
    width: 22rem;
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
}
.rectangulonaranjaflaco {
    width: 3rem;
    background-color: #FFB959;
    height: 0.8rem;
}
.lineausada {
    height: 100%;
    width: 5.6rem;
    background-color: #565a5f;
}
.secciondadlinea {
    height: 100%;
    width: 5.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lineanegra {
    background-color: #565a5f;
    width: 3.4rem;
    height: 0.3rem;
}
.primeraseccion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.cajanegramedio {
    width: 11rem;
    height: 7rem;
    background-color: #656A73;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.rectangulillo {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #FFB959;
    width: 7rem;
    height: 1rem;
    top: 1.5rem;
}
.pele {
    width: 7rem;
    height: 0.3rem;
    background-color: white;
    position: absolute;
    top: 3.35rem;
}  
.guille {
    width: 7rem;
    height: 0.3rem;
    background-color: white;
    position: absolute;
    top: 4.35rem;
}
.pelechica {
    width: 4rem;
    height: 0.3rem;
    background-color: white;
    position: absolute;
    top: 5.35rem;
    left: 2rem;
}
.cajaleft {
    position: absolute;
    left: 20rem;
    width: 19rem;
    height: 6rem;
    display: flex;
}
.seccionpadrefirst {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 4rem;
}
.cabezilla {
    width: 100%;
    height: 0.45rem;
    background-color: #656A73;
}
.iguales {
    width: 100%;
    height: 0.45rem;
    background-color: #cfd1d4;
    margin-top: 0.8rem;
}
.noigual {
    width: 35%;
    height: 0.45rem;
    background-color: #cfd1d4;
    margin-top: 0.8rem;
}
.seccionsecond {
    width: 10rem;
    height: 72%;
    background-color: salmon;
    position: absolute;
    left: 10rem;
}
.basenegra {
    width: 20rem; 
    height: 1.5rem;
    background-color: #656A73;
    position: absolute;
    right: 2rem;
    top: 7rem;
}
.elcuadra {
    width: 3rem;
    height: 3rem;
    background-color: salmon;
}