* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    background-color: grey;
    justify-content: center;
    align-items: center;
}
.cancha {
 background-color: green;
 width: 41.5rem;
 height: 90vh;
 border: 0.2rem solid white;
 border-radius: 1rem;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 padding: 0.5rem;
}
.zona {
    width: 100%;
    height: 20%;
    color: white;
    text-align: center;
    border: 0.1rem dashed rgb(6, 59, 6);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.jugador {
    position: relative;
    background-color: rgb(9, 116, 116);
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.8rem;
    border: 0.1rem solid rgb(2, 48, 48);
    border-radius: 1rem;   
}
.dorsal {
    font-size: 1.4rem;
    font-weight: 800;
    background-color: navy;
    color: white;
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 0.3rem;
}
 .arquero {
    background-color: white;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.8rem;
    border: 0.1rem solid gold;
    border-radius: 1rem;   
}
.nombre{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}
.balon {
    position: absolute;
    scale: 0.9;
    right: 55%;
    bottom: 50%;
}
.jugadorestrella {
    position: absolute;
    scale: 0.9;
    right: 55%;
    bottom: 50%;
}
